body {
  font-family: 'Open Sans', sans-serif;
  background-color: #455a64;
  /*line-height: 1.15;*/
}

hr {
  width: 98%;
  size: 1px;
  color: #cfd8dc;
  background-color: #cfd8dc;
}

#clear-button, #create-button {
  background-color: #ffc107;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  width: 92.5%;
  border: 2px solid #ffc107;
}

#clear-button:hover, #create-button:hover {
  background-color: #ffd773;
  cursor: pointer;
}


.box {
  width: 90%;
  height: 125px;
  border: 2px solid #607d8b;
  background-color: #fff;
  position: relative;
  margin: 15px auto 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box a {
  text-decoration: none;
  font-size: 18px;
  width: auto;
  color: #607d8b;
  margin: 10px 0 10px 5px;
}

/*.box a:hover {
  color: #607d8b;
  border-bottom: 4px solid #ffc107;
}*/

.box h1 {
  color: #455a64;
  font-weight: 800;
  font-size: 22px;
  padding-left: 5px;
  /*border-bottom: 4px solid #f2f4f4;*/
}

.box p {
  /*border-bottom: 4px solid #f2f4f4;*/
}

.delete-button {
  float: right;
}

/*.box div {
  border-top: 4px solid #f2f4f4;
}*/

div button {
  font-size: 16px;
  font-weight: 400;
  color: #455a64;
  position: relative;
  border: none;
  background-color: #fff;
}

.form {
  height: 40vh;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #455a64;
}

.form-input {
  height: 6vh;
  width: 90%;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2.5px;
  padding-left: 10px;
}

.list {
  background-color:#cfd8dc;
  /*height: 60vh;*/
  /*margin-top: -20px;*/
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  padding-top: 5px;
}

.logo {
  height: 24px;
  margin: 0 7px 0 7px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  display: flex;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.counter {
  display: inline-block;
}

@media screen and (min-width: 500px) {

  /*.box a:hover {
    color: #607d8b;
    border-bottom: 2px solid #ffc107;
  }*/
  .hov-line:hover {
    color: #607d8b;
    border-bottom: 2px solid #ffc107;
    cursor: pointer;
  }
