body {
  font-family: 'Open Sans', sans-serif;
}

#create-button {
  background-color: #ffc107;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 5px;
  border: 2px solid #ffc107;
}

#create-button:hover {
  background-color: #ffd773;
}

.box {
  width: 90%;
  height: 125px;
  border: 2px solid #607d8b;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.box a {
  text-decoration: none;
  color: #607d8b;
}

.box a:hover {
  color: #607d8b;
  border-bottom: 4px solid #ffc107;
}

.box h1 {
  color: #455a64;
  font-weight: 800;
  font-size: 22px;
  border-bottom: 4px solid #f2f4f4;
}

.box p {
  border-bottom: 4px solid #f2f4f4;
}

.delete-button {
  float: right;
}

div button {
  font-size: 16px;
  font-weight: 200;
  color: #455a64;
}

.form {
  height: 40vh;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #455a64;
}

.form-input {
  height: 6vh;
  width: 90%;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 2.5px;
}

.list {
  background-color:#cfd8dc;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.logo {
  height: 24px;
  margin: 0 7px 0 7px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  display: flex;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
